.inverse-info {
    background-color: transparent;
    color: #17a2b8;
    border-color: #17a2b8;
}

.inverse-info:hover {
    background-color: #17a2b8;
    color: white;
}

.inverse-danger {
    background-color: transparent;
    color: #dc3545;
    border-color: #dc3545;
}

.inverse-danger:hover {
    background-color: #dc3545;
    color: white;
}

.icon-button {
    padding: 0.25rem 0.5rem;
    font-size: 1.125rem;
    line-height: 1.5;
}
